body{
    background-color: beige;
}h1{
    color: orange;
}
h2{
    color: green;
}
h3{
    color: red;
}
p{
    font-size:30px;  font-style:oblique;  font-family:Georgia;  color:green;   
    background-color:yellow;
}